.App {
  text-align: center;
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.config-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #6c5b7b;
  color: #6c5b7b;
  z-index: 999;
} 

.config-button:hover {
  color: #b8bfc5;
  cursor: pointer;
}

.spin .cog{
  animation: spin 4s infinite linear;
}

.spin {
  color: white;
  border-color: white;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-container {
  flex: 3;
}

.sidebar {
  overflow: scroll;
  position: absolute;
  top: 0;
  right: -25%;
  max-width: 25%;
  width: 25%;
  background-color: #282c34;
  height: 100vh; /* Adjust for styling */
  transition: right 0.3s ease-out;
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
  padding: 7% 10px;
}

.slidein {
  right: 0;
  transition: right 0.3s ease-out;
}
